<template>
  <div class="main">
    <vHeader />
    <vArticles />
    <vContact />
  </div>
</template>
<style lang="scss">
    .main{
        max-width:100vw
    }
    @media screen and (max-width:575px){
        .main{
            overflow:hidden;
        }
    }
</style>
<script>
import vHeader from '../components/Header.vue';
import vArticles from '../components/Articles.vue';
import vContact from '../components/Contact.vue';
export default {
  name: 'Home',
  components: {
    vHeader,
    vArticles,
    vContact
  }
}
</script>