<template>
    <div class="w-100">
        <vHeaderSection :Title="'Nuestros artículos'" />
        <div class="w-100 d-flex justify-content-center align-items-center">
            <div class="w-100 element-contenedor">
                <div class="row m-0 p-0">
                    <div class="col-12 col-sm-6 col-lg-auto d-flex justify-content-center d-sm-block">
                        <vArticlesController :ActiveElement="active" v-on:changeActive="changeActive($event)" />
                    </div>
                    <div class="col-12 col-sm-6 col-lg row m-0 p-0 justify-content-center mb-3 wow slideInRight">
                        <div class="col-12 text-center loading-container" v-if="loading === true">
                            <i class="fas fa-spinner fa-spin spin"></i>
                            <span>Cargando Articulos</span>
                        </div>
                        <template v-if="loading === false">
                            <div class="col-12 col-lg-6 col-xl-4 d-flex justify-content-center wow slideInRight" v-for="article in articles" :key="article.id">
                                <vCardArticle :Article="article" />
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style lang="scss">
    .element-contenedor{
        max-width:1180px;
        padding-top: 145px;
    }
    .title-border{
        filter:opacity(35%);
        position: absolute;
        bottom:-61px;
        left: calc(50% - 232px);
        max-width: 464px;
        width:100%;
        height:85px;
    }
    .loading-container{
        font-size:40px;
        min-height:110vh;
    }
    .loading-container span{
        font-family: $title-font;
    }
</style>
<script>
import axios from 'axios';
import vArticlesController from './ArticlesController.vue';
import vCardArticle from './CardArticles.vue';
import vHeaderSection from './HeaderSection.vue';
export default {
    name: 'Articles',
    methods:{
        changeActive(v){
            this.active = v;
            this.LeerArticulos(v);
        },
        LeerArticulos(Filter){
            this.loading = true;
            const HTTPobject = {
                method: 'get',
                url: 'https://5eed24da4cbc340016330f0d.mockapi.io/api/articles',
                timeout: 30000,
            };
            if(Filter !== 'Todos'){
                HTTPobject.params = {filter: Filter}
            }
            axios(HTTPobject)
            .then(response => {
                this.articles = response.data
            }).finally(()=>{
                this.loading = false;
            })
        }
    },
    components:{
        vArticlesController,
        vCardArticle,
        vHeaderSection
    },
    mounted(){
        this.LeerArticulos('Todos');
    },
    data(){
        return{
            active:'Todos',
            articles:[],
            loading: false,
        }
    },
}
</script>