<template>
  <div class="controller wow slideInLeft">
    <div class="list-elements d-flex align-items-center" v-for="option in options" :key="option.id" v-on:click="sendValue(option.name)" v-bind:class="{ 'element-active': (option.name === ActiveElement) }">
      <span>{{option.name}}</span>
      <img src="../assets/images/arrow.svg" v-if="option.name.toLowerCase() === ActiveElement.toLowerCase()" />
    </div>
  </div>
</template>
<style lang="scss" scoped>
  $controller-width: 274px;

  .controller{
    width: $controller-width;
    min-height: 319px;
    background: $white;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding:23px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 36px;
    margin-bottom:36px;
  }
  
  @media screen and (max-width:991px) and (min-width:576px) {
    .controller{
      left: calc(100% - 137px);
    }
  }
  .list-elements{
    position: relative;
    margin-bottom:25px;
    cursor:pointer
  }
  .list-elements img{
    position: absolute;
    right:0;
    top: calc(50% - 8px);
  }
  span{
    font-family: $basic-font;
    font-style: normal;
    font-size: 12px;
    line-height: 23px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $black;
  }
  .element-active span{
    font-weight: bold;
    color: $yellow !important;
  }
</style>
<script>
export default {
  name: 'ArticlesController',
  data(){
    return{
      options:[
        {
          name:'Todos'
        },{
          name:'Productos'
        },{
          name:'Recetas'
        },{
          name:'Consejos'
        }
      ],
    }
  },
  props:{
    ActiveElement: String
  },  
  methods:{
    sendValue(v){
      this.$emit('changeActive', v);
    }
  }
}
</script>