<template>
  <a class="d-flex" :href="Article.url" target="_blank">
    <div class="card-container d-flex" >   
      <div class="custom-card">
        <img :src="Article.image" />
        <div class="container-content">
          <p class="title">{{Article.title}}</p>
          <p class="content mb-0">{{Article.content}}</p>
          <button class="btn btn-see-more p-0 m-0">Ver mas</button>
        </div>
      </div>
    </div>
  </a>
</template>
<style lang="scss" scoped>
  .card-container{
    filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.07));
    width:270px;
  }
  .container-content{
    padding:25px;
  }
  .custom-card{
    border-radius:10px;
    background: $white;
    margin-bottom:36px;
    overflow:hidden;
  }
  .custom-card .title{
    font-family: $basic-font;
    color: $black;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
  }
  .custom-card:hover .title{
    color: $yellow !important;
  }
  .btn-see-more{
    display:none;
    font-family: $basic-font;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $yellow;
    white-space: nowrap;
    height:auto !important;
    margin-top:33px !important;
  }
  .custom-card:hover .btn-see-more{
    display:block !important;
  }
  .custom-card .content{
    font-family: $basic-font;
    font-style: normal;
    font-weight: normal;
    color: $black;
    font-size: 14px;
    line-height: 24px;
  }
  
  img{
    width:100%;
    height:204px;
  }
</style>
<script>
export default {
  name: 'CardArticles',
  props:{
    Article: Object
  },
}
</script>