<template>
    <div class="w-100 contact">
        <vHeaderSection :Title="'Contáctanos'" />
        <form class="row justify-content-center form mx-0 wow slideInLeft" v-on:submit.prevent="SendNewsLetter()">
            <div class="col-12 col-md-6 px-md-0 d-flex justify-content-end wow slideInLeft delay-1s">
                <div class="form-group">
                    <label for="formNombre">Nombre</label>
                    <input type="text" minlength="3" required v-model="dataForSend.firstname" v-bind:class="{ 'customInput': (dataForSend.firstname !== null) }" />
                </div>
            </div>
            <div class="col-12 col-md-6 px-md-0 input-container wow slideInRight delay-1s">
                <label>Apellido</label>
                <input required type="text" minlength="3" v-model="dataForSend.lastname" v-bind:class="{ 'customInput': (dataForSend.lastname !== null) }"/>
            </div>
            <div class="col-12 col-md-6 px-md-0 d-flex justify-content-end wow slideInLeft delay-1s">
                <div class="form-group">
                    <label for="exampleInputEmail1">Mail</label>
                    <input type="email" required v-model="dataForSend.email" v-bind:class="{ 'customInput': (dataForSend.email !== null) }">
                </div>
            </div>
            <div class="col-12 col-md-6 px-md-0 input-container wow slideInRight delay-1s">
                <label>Teléfono</label>
                <input required type="tel" pattern="[0-9]{9}" v-model="dataForSend.phone" v-bind:class="{ 'customInput': (dataForSend.phone !== null) }"/>
            </div>
            <div class="col-12 col-md-6 ml-auto pl-0 text-right wow slideInRight delay-1s">
                <div class="btn-container">
                    <button class="btn btn-send" type="submit" :disabled="loading">
                        <template v-if="loading === true">
                            <i class="fas fa-spinner fa-spin spin"></i>
                        </template>    
                        <template v-else>
                            Enviar
                        </template>
                    </button>
                </div>
            </div>
        </form>
    </div>
</template>
<style lang="scss">
    $width-input: 350px;
    $padding-input: 23.1px;
    $line-heights: 24px;
    .contact{
        padding-top:70px;    
        overflow:hidden;
    }
    .btn-container{
        width: $width-input+$padding-input;
        margin-bottom: 52px;
    }
    .form{
        margin-top:60px;
    }
    .btn-send:hover{
        background: $blue !important;
    }
    .btn-send:disabled{
        background: $gray-border !important;
        color: $black !important;
    }
    .btn-send{
        margin-top:25px;
        border-radius: 50px;
        font-family: $basic-font;
        font-style: normal;
        background: $yellow;
        font-weight: bold;
        font-size: 15px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $white !important;
        width:170px;
        height:55px;
    }
    label{
        font-family: $basic-font;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: $line-heights;
        text-transform: uppercase;
        color: $black;
        display: block;
    }
    .input-container{
        padding-left:$padding-input !important;
    }
    @media screen and (max-width: 768px){
        input{
            width: 100% !important;
        }
        .form-group{
            width:100% !important;
        }
        .input-container{
            padding-left:15px !important;
        }
        .form{
            margin-top:75px !important;
        }
        .btn-container{
            width:100% !important;
        }
    }
    form{
        margin:0;
    }
    input{
        width: $width-input;
        background: $white;
        border: 1px solid $gray-border;
        box-sizing: border-box;
        font-family: $basic-font;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: $line-heights;
        color: $black;
        height:50px;
        padding-left:22px;
        padding-right:22px;
    }
    .customInput:valid, .customInput:active, .customInput:focus{
        border: 1px solid $yellow !important;
    }
    .customInput:invalid{
        border: 1px solid $red !important;
        color: $red !important
    }
    input:disabled + label{
        color:$gray-border !important;
    }
</style>
<script>
import axios from 'axios';
import Swal from 'sweetalert2';
import vHeaderSection from './HeaderSection.vue';
export default {
    name: 'Contact',
    methods:{
        SendNewsLetter(){
            this.loading = true;
            const HTTPinfo = {
            method:'POST',
            url: 'https://5eed24da4cbc340016330f0d.mockapi.io/api/subscribe',
            data: this.dataForSend,
            timeout: 3000
            };
            axios(HTTPinfo)
            .then(() => {
                Swal.fire(
                'Solicitud exitosa',
                'Se ha suscrito correctamente',
                'success'
                );
            }).catch(()=>{
                Swal.fire(
                'Oops',
                'Ocurrió un error al hacer la solicitud',
                'error'
                )
            }).finally(()=>{
                this.loading = false;
            })
        }
    },
    components:{
        vHeaderSection
    },
    data(){
        return{
            dataForSend:{
                firstname: null,
                lastname: null,
                email: null,
                phone: null
            },
            loading: false
        }
    },
}
</script>