<template>
    <div class="heading">
        <h2 class="text-center wow slideInLeft">{{Title}}</h2>
        <img class="title-border wow slideInRight" src="../assets/images/heading-shape.png" />
    </div>
</template>
<style lang="scss" scoped>
    .heading{
        position: relative;
    }
    @media screen and (max-width:400px){
        h2{
            font-size:55px !important;
        }
    }
</style>
<script>
export default {
  name: 'HeaderSection',
  props:{
    Title: String
  },
}
</script>