<template>
    <div class="k-header d-flex justify-content-center align-items-center">
        <div>
            <img src="../assets/images/logo.svg" class="header-logo wow bounce" />
            <div class="container-buttons d-flex flex-nowrap">
                <button class="btn-facebook wow slideInDown"><img src="../assets/images/facebook-icon.svg" /></button>
                <button class="btn-insta wow slideInDown delay-1s"><img src="../assets/images/instagram-icon.svg" /></button>
                <button class="btn-youtube wow slideInDown delay-2s"><img src="../assets/images/youtube-icon.svg" /></button>
            </div>
        </div>
        <div class="w-100">
            <div class="row main-msg">
                <h1 class="text-left header-title wow bounceInLeft delay-1s">El secreto<br> de tu cocina</h1>
                <img src="../assets/images/hero-shape.png" class="shape-header wow bounceInLeft" />
            </div>
        </div>
    </div>
</template>
<style lang="scss">
    .main-msg{
        position:relative
    }
    button{
        width:62px;
        height:62px;
        display:flex;
        align-items: center;
        justify-content: center;
        border-radius:100%;
        margin-left:30px;
        padding:0 !important;
        backdrop-filter: blur(14px);
    }
    .btn-facebook{
        border:3px solid $blue;
    }
    .btn-insta{
        border:3px solid $red;
    }
    .btn-youtube{
        border:3px solid $yellow;
    }
    .container-buttons{
        position:absolute;
        right: 60px;
        top: 42px;
        overflow: hidden;
    }
    .header-logo{
        z-index: 3;
        position: absolute;
        left: 12%;
        right: 80.17%;
        top: 63.32px;
        bottom: 94.22%;
        font-size:100px !important;
    }
    @media screen and (max-width:600px){
        .header-logo{
            top: 130.32px !important;
        }
    }
    @media screen and (max-width:400px){
        .header-title{
            font-size:50px !important;
            line-height:50px !important;
            bottom: -15px !important;
        }
        .shape-header{
            top: -130px !important;
            left: -475.85px !important;
            height:200px !important;
        }
    }
    .header-title{
        z-index: 3;
        right: 0;
        position: absolute;
        left: 13%;
        right: 46.81%;
        white-space: nowrap;
        bottom: -115px;
    }
    @media screen and (max-width: 1000px) and (min-width:401px){
        .header-title{
            font-size:80px !important;
            line-height:70px !important;
            bottom: -15px !important;
        }
        .shape-header{
            top: -190px !important;
            left: -475.85px !important;
            height:300px !important;
        }
    }
    .shape-header{
        z-index:1;
        transform: rotate(2.4deg);
        position: absolute;
        top: 23.62px;
        left: -475.85px;
        width: 1362px;
        height: 174px;
    }

    .k-header{
        overflow:hidden;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 70%, rgba(255,255,255,1) 90%), url('../assets/images/hero-background.jpg');
        overflow: hidden;
        background-size: cover;
        background-position: 70% 50%;
        min-height:805px;
    }
</style>
<script>
export default {
  name: 'Header',
}
</script>