<template>
  <div>
    <router-view></router-view>
  </div>
</template>
<style lang="scss">
  body{
    margin:0;
  }
  h1, .header-logo{
    font-family: $title-font !important;
    font-size:120px;
    color: $gray;
    line-height:100px;
    font-weight:bold;
  }
  h2{
    font-family: $title-font !important;
    font-size:80px;
    color: $gray;
    line-height:38px;
    font-weight:bold;
  }
  a {text-decoration: none !important;}
</style>
<script>
import WOW from 'wow.js';
export default {
  name: 'MainApp',
  mounted(){
    new WOW().init();
  }
}
</script>