// GLOBAL SCSS FOR "EL SECRETO DE TU COCINA" PROJECT
// MADE BY GERALD LEONEL ALARCON
// 2020

// PRE-DEFINITION OF GLOBAL STYLE VARIABLES
$black: #24272A;
$gray: #3F454A;
$yellow: #DBAD3D;
$blue: #009CD9;
$red: #B72C2C;
$white: #FFFFFF;
$gray-border: #CFCFCF;
$disabled: #6F6F6F;

// FONTS IMPORT
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Open+Sans:wght@400;700&display=swap');
$title-font: 'Caveat', cursive;
$basic-font: 'Open Sans', sans-serif;